# deps
**/node_modules/

# reports & artifacts
**/playwright-report/
**/allure-results/
**/allure-report/
**/test-results/
**/newman-report.html

# misc
*.log
.DS_Store
.last-run.json

# storageState
storageState.json